# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Logs
logs
*.log
npm-debug.log*
coverage

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Prod Bundle
build/
bin/
frontend/dist/index.js


